@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
  background-color: #f1f2f4;
  font-family: "Open Sans", sans-serif;
}

.navbar img {
  width: 100px;
}

.nav-item {
  margin: 0 20px;
  font-weight: 600;
  font-size: 18px;
}

.navbar button {
  width: 130px;
  height: 40px;
  background: #ffde67;
  border-radius: 9px;
  border: none;
  margin: 0 10px;
  font-weight: 600;
  font-size: 18px;
}
