@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  background-color: #f1f2f4;
  font-family: "Open Sans", sans-serif;
}

.navbar img {
  width: 100px;
}

.nav-item {
  margin: 0 20px;
  font-weight: 600;
  font-size: 18px;
  color: #050505 !important;
  position: relative;
}

.nav-item .daftar {
  width: 210px;
  height: 40px;
  background: #ffde67;
  border-radius: 9px;
  border: none;
}

.nav-item a {
  font-weight: 600;
  font-size: 18px;
}

.nav-item button {
  width: 210px;
  height: 40px;
  background: #ffde67;
  border-radius: 9px;
  font-weight: 600;
  border: none;
}

.nav-link.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffde67;
  border-radius: 30px;
}
.container h1 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.container h6 {
  font-weight: 700;
  font-size: 20px;
}

.container p {
  font-weight: 600;
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: center;
}

.container .jenis-vaksin {
  width: 100%;
  height: 100%;
  background-color: #d6d6d6;
  border-radius: 9px;
  padding-left: 12px;
  padding-right: 12px;
}

.container .vaksin-title {
  width: 150px;
  height: 28px;
  text-align: center;
  align-items: center;
  background: #ffde67;
}

.kiri {
  border-radius: 9px 0;
}

.kanan {
  border-radius: 0 9px;
}

.footer {
  margin-top: 100px;
  height: 160px;
  background-color: #ffde67;
  padding-top: 40px;
  font-weight: 600;
  font-size: 18px;
  bottom: 0;
  text-align: center;
}

.footer img {
  margin: 0 50px;
  max-width: 50px;
}
