@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  background-color: #f1f2f4;
  font-family: "Open Sans", sans-serif;
}

.navbar img {
  width: 100px;
}

.nav-item {
  margin: 0 20px;
  font-weight: 600;
  font-size: 18px;
  color: #050505 !important;
  position: relative;
}

.nav-item .daftar {
  width: 210px;
  height: 40px;
  background: #ffde67;
  border-radius: 9px;
  border: none;
}

.nav-item a {
  font-weight: 600;
  font-size: 18px;
}

.nav-item button {
  width: 210px;
  height: 40px;
  background: #ffde67;
  border-radius: 9px;
  font-weight: 600;
  border: none;
}

.nav-link.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffde67;
  border-radius: 30px;
}

.container h1 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.container h6 {
  font-weight: 700;
  font-size: 20px;
}

.container p {
  font-weight: 600;
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: center;
}

.container .jenis-vaksin {
  width: 100%;
  height: 100%;
  background-color: #d6d6d6;
  border-radius: 9px;
  padding-left: 12px;
  padding-right: 12px;
}

.container .vaksin-title {
  width: 150px;
  height: 28px;
  text-align: center;
  align-items: center;
  background: #ffde67;
}

.kiri {
  border-radius: 9px 0;
}

.kanan {
  border-radius: 0 9px;
}

@media only screen and (max-width: 768px) {
  .nav-link.active:after {
    background-color: #f1f2f4;
  }

  .kanan {
    border-radius: 9px 0;
  }
}

footer {
  margin-top: 50px;
  background: #ffde67;
  font-family: "Open Sans";
  padding-top: 40px;
  color: black;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-weight: 600;
  font-size: 22px;
}

.footer-content p {
  font-weight: 600;
  font-size: 18px;
  margin-top: -2rem;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin-right: 30px;
}

.socials a {
  text-decoration: none;
  color: black;
}

.socials a i {
  font-size: 1.5rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: white;
}
